<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="EWSPATH" value=""/>
        <add key="EWSUSER" value=""/>
        <add key="EWSPWD" value=""/>
        <add key="EWSDOMAIN" value=""/>
        <add key="EWSAUTODISCOVERURL" value=""/>
    </appSettings>
</configuration>
